venv/
env/
*.pyc
*.pyo
__pycache__/
.vscode/
.idea/
../../Clone/TextGenerationTest/TextGeneration/.env
*.env
*.log
logs/
debug.log
*.sqlite3
db.sqlite3
staticfiles/
media/
*/migrations/*.py
*/migrations/*.pyc
*.docker
docker-compose.override.yml
node_modules/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt
.poetry/
.idea/